[submodule "fpga"]
	path = fpga
	url = git@github.com:muwyse/black-parrot-fpga.git
[submodule "bsg_fpga"]
	path = bsg_fpga
	url = git@github.com:muwyse/bsg_fpga.git
[submodule "black-parrot-subsystems"]
	path = black-parrot-subsystems
	url = git@github.com:black-parrot-hdk/black-parrot-subsystems.git
[submodule "zynq-parrot"]
	path = zynq-parrot
	url = git@github.com:black-parrot-hdk/zynq-parrot.git
[submodule "black-parrot"]
	path = black-parrot
	url = git@github.com:black-parrot/black-parrot.git
[submodule "black-parrot-sdk"]
	path = black-parrot-sdk
	url = git@github.com:black-parrot-sdk/black-parrot-sdk.git
[submodule "black-parrot-tools"]
	path = black-parrot-tools
	url = git@github.com:black-parrot/black-parrot-tools.git
[submodule "dma_ip_drivers"]
	path = dma_ip_drivers
	url = git@github.com:muwyse/dma_ip_drivers.git
	branch = vcu128
